body {
	font-family: "Lato", sans-serif
}

h1 {
	color: #333333;
	font-family: 'Lato', sans-serif; 
	font-size: 40px; 
	font-weight: 300; 
	line-height: 58px; 
	text-align: center;
}

h2 {
	color: #333333;
	font-family: 'Lato', sans-serif; 
	font-size: 20px; 
	font-weight: 100; 
	line-height: 28px; 
	text-align: center;
}

h3 {
	color: #333333;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
    font-size: 120%;
}

#ABC {
    background-color: blue;
}

/*
		Navigation Menu
*/
.wrap {
  position:relative;
  margin:0 auto;
  width:600px;
}


/* Table Styling */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    text-align: left;
    padding: 8px;
}

td:nth-child(odd) {
    background-color: #dddddd;
}

/* Paragraphy Styling */
p {  
    font-family: "Times New Roman", Times, serif;
	font-style: italic;
    font-size: 120%;
}

/* Footer Styling */
footer {
	background: #aaa;
	color:white;
	text-align: center;
	margin: 10;
}

/* Social Media Links */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #333333;
  color: white;
}

/* Styles for Inserting the PDF documents*/
.pdf  {
	text-align: center; 
	display: inline-block
}
.pdf img{
	display:block; 
	border: none;
	text-decoration: underline
}
.pdf:before{
	content:'Download:'
}

/* Text section styling */
section { 
    display: block;
    background: #87cefa;
	width: 90%;
	border-radius: 5%;
	text-align: center; 
}

/* Dropdown menu */

.dropdown {
    float: left;
    overflow: hidden;
	padding: -4px -10px;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 0px 10px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
